/* 
Project Name: BBDO YOUR HOME
Author: Sho Matsuzaki
*/

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

@font-face {
     font-family: "GothamLight";

     src: url("../fonts/Gotham-Light.ttf") format("truetype"), /* Safari, Android, iOS */
          url("../fonts/Gotham-Light.woff") format("woff"), /* Modern Browsers */
          url("../fonts/Gotham-Light.woff2") format("woff2"); /* Modern Browsers */
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: "GothamBlack2";

     src: url("../fonts/Gotham-Black.ttf") format("truetype"), /* Safari, Android, iOS */
          url("../fonts/Gotham-Black.woff") format("woff"), /* Modern Browsers */
          url("../fonts/Gotham-Black.woff2") format("woff2"); /* Modern Browsers */
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: "GothamMedium";

     src: url("../fonts/Gotham-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
          url("../fonts/Gotham-Medium.woff") format("woff"), /* Modern Browsers */
          url("../fonts/Gotham-Medium.woff2") format("woff2"); /* Modern Browsers */
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: "GothamMediumItalic";

     src: url("../fonts/Gotham-MediumItalic.ttf") format("truetype"), /* Safari, Android, iOS */
          url("../fonts/Gotham-MediumItalic.woff") format("woff"), /* Modern Browsers */
          url("../fonts/Gotham-MediumItalic.woff2") format("woff2"); /* Modern Browsers */
     font-weight: normal;
     font-style: normal;
}

/******************************************
/* GENERAL                   
/*******************************************/

html, body {
     margin: 0;
     min-height: 100%;
     scroll-behavior: smooth;
}

body {
     text-align: center;
     color: #ffffff;
     letter-spacing: 3px;
     line-height: 1.2;
     font-size: 20px;
     font-family: 'GothamLight', sans-serif;
     background-color: #ffffff;
}

#gradient {
     position: absolute;
     width: 100%;
     height: 100vh;
     padding: 0;
     margin: 0;
     z-index: -1;
}

#container {
     position: absolute;
     display: block;
     width: 100%;
     margin: 0;
     text-align: center;
}

/******************************************
/* OPENING                   
/*******************************************/


#open {
     width: 100%;
}

#title {
     display: block;
     text-align: center;
     margin: 100px auto;
     font-size: 40px;
}

#formcontainer {
     display: block;
     width: 100%;
}

#bbdowhite {
     display: inline-block;
     vertical-align: top;
     margin-top: 16px;
     margin-right: 10px;
     width: 250px;
     height: 72px;
     filter: grayscale(100) brightness(100);
     -webkit-filter: grayscale(100) brightness(100);
     -moz-filter: grayscale(100) brightness(100);
}

input {
     font-size: 60px;
     font-family: 'GothamBlack2', sans-serif;
     letter-spacing: 3px;
     text-align: left;
     color: #ffffff;
     padding: 26px 50px 18px 50px;
     display: inline-block;
     width: 760px;
     margin: 0 auto;
     border: 2px solid #ffffff;
     border-radius: 56px;
     background-color: rgba(0,0,0,0);
}

input:focus, button:focus {
     outline: none;
}

#go {
     font-size: 14px;
     font-family: 'GothamBlack2', sans-serif;
     vertical-align: top;
     margin-top: 30px;
     margin-left: 6px;
     letter-spacing: 2px;
     text-align: center;
     color: #000000;
     display: inline-block;
     width: 44px;
     height: 44px;
     padding-top: 4px;
     border: 2px solid #ffffff;
     border-radius: 40px;
     background-color: #ffffff;
     mix-blend-mode: lighten;
}

#bodycopy {
     display: block;
     width: 800px;
     padding-left: 150px;
     text-align: left;
     margin: 50px auto;
}

/******************************************
/* RESULT                   
/*******************************************/

#result {
     margin: 11% 10% 0 10%;
     color: #000000;
     text-align: left;
}

span {
     font-family: 'GothamBlack2', sans-serif;
     color: #ef4023;
}

#canvas {
     display: block;
     margin: 0;
     /*Shrink the canvas for hi-res*/
     width: 1160px;
     height: 180px;
}

#btndownload {
     display: block;
     margin: 0 auto 0 0;
     background-color: #000;
     color: #fff;
     font-family: GothamMediumItalic;
     font-size: 18px;
     letter-spacing: 1.5px;
     border-radius: 20px;
     padding: 10px 15px 6px 15px;
}

#disclaimer {
     margin: 24px 100px 24px 0;
     letter-spacing: 1px;
}

#thanks {
     margin: 10px auto;
     letter-spacing: 1px;
     font-family: GothamMedium;
}

#instructions {
     display: block;
     margin: 100px auto;
     width: 100%;
}

#signature {
     letter-spacing: 1px;
}

/*#canvasimg {
     display: none;
     margin: 0;
     width: 1440px;
     height: 200px;
}*/



